<head><title>Developpement</title></head>
<body>
<h1>Process "Developpement"</h1>
<h2>Work definitions</h2>
  <ul>
    <li>Conception</li>
    <li>RedactionDoc requires Conception to be started, Conception to be finished.</li>
    <li>RedactionTests requires Conception to be started, Programmation to be finished.</li>
    <li>Programmation requires Conception to be finished.</li>
  </ul> 
</body>
